

// Sidebar
$sideBarWidth: 210px;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$subMenuActiveText:#f4f4f5;

$menuBg:#001529;
$menuText:hsla(0,0%,100%,.9);
$menuActiveText:#409EFF; // Also see settings.sidebarTextTheme

// Login page
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;


//l
$smallSpace: 8px;
$mediumSpace: $smallSpace*2;
$largeSpace: $smallSpace*3;
// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;

  smallSpace: $smallSpace;
  mediumSpace: $mediumSpace;
  largeSpace: $largeSpace;
}